body{  
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	padding:0;
	margin:0; 
   font-family: 'CinzelDecorative-Regular';
	font-size: 100%;
}  


h1{
	margin:0;			   
}	
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
a{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
a:hover{
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

/*--main--*/
/*--header start here--*/

.icon1 i.fa {
    font-size: 1.5em;
}
.icon1 {
    margin: 0 0 1em;
    border-bottom: 1px solid black;
}
.wthree li {
    display: inline-block;
}

.bottom {
    margin: 2em 0 0;
    text-align: center;
}
.header-main {
    padding: 2em 5em;
    width: 31%;
    margin: 0 auto;
    border: 1px solid black;
}
.header-main h1 {
    font-size: 2.5em;
    color: blue;
    text-align: center;
    padding-bottom: 0.8em;
}


.header-left-bottom input[type="text"] {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 12px 13px 20px 20px;
	border:none;
    width: 80%;
    display: inline-block;
    background: transparent;
   font-family: 'CinzelDecorative-Regular';
}
.header-left-bottom input[type="email"] {
    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: black;
    padding: 12px 13px 20px 11px;
	border:none;
    width: 80%;
    display: inline-block;
    background: transparent;
   font-family: 'CinzelDecorative-Regular';
}
.header-left-bottom input[type="password"]{
  outline: none;
  font-size: 15px;
  font-weight: 400;
  color: black;
  border:none;
  padding: 12px 13px 20px 20px;
  width: 80%;
  display: inline-block;
  background: transparent;
  font-family: 'CinzelDecorative-Regular';
}
.header-left-bottom input[type="submit"] {
    background: blue;
    color: #FFF;
    font-size: 1.5em;
    padding: 0.3em 1.2em;
    width: 50%;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: none;
	font-family: 'CinzelDecorative-Regular';
}
.header-left-bottom input[type="submit"]:hover {
    background: #11732b;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
/*-- agileits --*/


.header-left-bottom p a:hover{
	color:#777;
	text-decoration:none;
}

