<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blip</title>
    <link rel="stylesheet" href = "../../static/css/registration.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
        <div class="header-main">
                <h1>Registration Form</h1>
                    <!---728x90--->
        
                    <div class="header-bottom">
                        <div class="header-right w3agile">
                            <div class="header-left-bottom agileinfo">
                                <form action="#" method="post">
                                    <div class="icon1">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <input  type="text" placeholder="Enter full name" required=""/>
                                    </div>
                                    <div class="icon1">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <input  type="text" placeholder="Enter User Name" required=""/>
                                        </div>
                                    <div class="icon1"> 
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <input type="email" placeholder="Enter your email" required=""/>
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" placeholder="Create password" required=""/>
                                    </div>
                                    <div class="icon1">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                        <input type="password" placeholder="Confirm password" required=""/>
                                    </div>
                                    <select name="Gender">
                                            <option value="volvo">Male</option>
                                            <option value="saab">Female</option>
                                            <option value="fiat">Others</option>
                                          </select>
                                    <div class="bottom">
                                        <input type="submit" value="Register" />
                                    </div>
                                    
                            </form>	
                            </div>
                        </div>
                    </div>
            </div>
        
</body>
</html>