@import url('https://fonts.googleapis.com/css?family=Lobster|EB+Garamond|Roboto+Mono');

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn a,
.nav .logo a  {
    text-decoration: none;
    color: #fff;
}

.btn {
    border-radius: 24px;
    background: rgb(0, 0, 0);
    border: 1.5px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1.2em;
}


.btn:hover,
.btn a:hover {
    background: #fff;
    color: rgb(0, 0, 0);
}


/* Navbar style section */

header {
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 1.2em;
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .nav .logo {
    font-size: 2em;
    flex: 75%;
    font-family: 'Lobster', cursive;
}



header .nav .navbar {
    flex: 35%;
}

.nav .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Dashboard section */

.container {
    display: grid;
    grid-template-areas: "editor-section editor-section video-section"
                         "chat-section chat-section content-section"
                         "chat-section chat-section content-section"
                         "chat-section chat-section extra-section";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    height:88.5vh;
    width: 100%;
    margin: 0 auto;
    padding: 4px 2em 0 2em;
    background-image: url("../images/darkness.png")
}

.editor {
    grid-area: editor-section;
    background: purple;
    width: 495px;
    height: 280px;
}
.video-section {
    grid-area: video-section;
    background: green;
    width:780px;
    height: 280px;
}

.chat {
    grid-area: chat-section;
    background: gray;
    height: 290px;
}
.extra {
    grid-area: extra-section;
    background: green;
}
.extra-content {
    grid-area: content-section;
    background: white;
}

#video-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
video {
    width: 270px;
}