/* Forms styles */
section {
    width:40%;
    margin: 1em auto;
}

.row .gender {
    padding-left: 0.7em;
    color: gray;
}

.row .btn,
.row .btn:hover{
    background: #1488CC;
}

.row .file-field {
    margin-top:4em;
    padding-left: 0.8em; 
}