/* Forms styles */
section {
    width:40%;
    margin: 1em auto;
}

.row .gender {
    padding-left: 0.7em;
    color: gray;
}

.row .btn,
.row .btn:hover{
    background: #1488CC;
    margin-top: 1.1em;
}

row .file-field {
    margin-top:4em;
    padding-left: 0.8em; 
}

.head-size {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.8em;
    box-shadow: 1px 1px 1px 1px blue;
    background: #1488CC;
    color:#fff;
}
