@import url('https://fonts.googleapis.com/css?family=Lobster|EB+Garamond|Roboto+Mono');

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */
ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn a,
.nav .logo a  {
    text-decoration: none;
    color: #fff;
}

.btn {
    border-radius: 24px;
    background: #1488CC;
    border: 1.5px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1.2em;
}


.btn:hover,
.btn a:hover {
    background: #fff;
    color: #1488CC;
}


/* Navbar style section */

header {
    background: #1488CC;
    width: 100%;
    padding: 1.2em;
}

header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .nav .logo {
    font-size: 2em;
    flex: 75%;
    font-family: 'Lobster', cursive;
}



header .nav .navbar {
    flex: 35%;
}

.nav .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* Dashboard section */

.container {
    display: grid;
    grid-template-areas: "editor-section editor-section video-section"
                         "editor-section editor-section chat-section"
                         "editor-section editor-section chat-section"
                         "editor-section editor-section chat-section";
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height:100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0 2em;
    background-image: linear-gradient(to right, #2b5876, #4e4376)
}

.editor {
    grid-area: editor-section;
    width: 780px;
}
.video-section {
    grid-area: video-section;
    height: 280px;
    top: 2em;
    
}
video {
    width:100%;
    margin-left:0%;
}

.chat {
    grid-area: chat-section;
    background: gray;
    bottom: 0em;
    height: 330px;
}

.video-section, .chat {
    position: relative;
    right: 2em;
    width: 420px;

}
