@import url('https://fonts.googleapis.com/css?family=Lobster|EB+Garamond|Roboto+Mono');

*,
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* General */

li {
    list-style-type: none;
    margin-top: 0px;
    margin-right: 1.5em;
    padding: 5px 0.6em;
}
a {
    text-decoration: none;
}

.btn a,
.nav-main .logo a  {
    text-decoration: none;
    color: #fff;
}

.btn {
    background: rgb(51, 53, 54);
    color: #fff;
    font-weight: bold;
    font-size: 0.9em;
}


.btn:hover,
.btn a:hover {
    background: #fff;
    color: #1488CC;
}

.main-container {
    display:flex;
    flex-direction:column;
    height: 100vh;
}

/* Navbar style section */

.header {
    background: #1488CC;
    width: 100%;
    flex-basis: 5%;
}

.header ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 4px;
}

/* Dashboard section */

.container {
    flex-basis: 95%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-image: linear-gradient(to right, #2b5876, #4e4376);
}

.editor {
    flex-basis: 55%;
}

.container2 {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    padding-top: 1.3em;
}

.video-section {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.chat {
    flex: 1;
    /* border: 1px solid red; */
    height: 280px;
    width: 580px;
    position: relative;
    bottom: -0.25em;
    left: 1.5em;
}
.host_button {
    flex-basis: 10%;
    margin-top: 5px;
}

#video-container {
    display: flex;
    flex-direction: row;
    flex-basis:80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #0f053f;
}
video {
    width: 190px;
    height: 140px;
}


  