

{% extends "seminar/base.html" %}
{% load static %}

{% block css %}

<script>var loggedInUser = 'participant';</script>
<link rel="stylesheet" href="{% static "/seminar/css/dashboard.css" %}">
{% endblock %}

{% block content %}

<section class="container">
		<article class="editor">
			<div id="edit-zone">
					<div class="cd-tabs js-cd-tabs">
							<nav>
								<ul class="cd-tabs__navigation js-cd-navigation">
									<li class="tab_size"><a data-content="host-code-editor" class="cd-selected" href="#0"> <i class="fa fa-user-secret"></i> Host Editor</a></li>
									<li class="tab_size"><a data-content="my-code-editor" href="#0" > <i class="fa fa-code"></i> My Editor</a></li>
									<li class="tab_size"><a data-content="slides" href="#0"><i class="fa fa-slideshare"></i>	 Slides</a></li>
									<li class="tab_size"><a data-content="files" href="#0"><i class="fa fa-file"></i> Assets</a></li>
								</ul> 
							</nav>
					
							<ul class="cd-tabs__content js-cd-content">
								<li data-content="host-code-editor" class="cd-selected">
										<textarea id="text_editor" style="width:702px;" name="editor"></textarea>
									
									<div id="host_code_editor" class="host-board">
										<textarea  disabled class="host-codemirror-textarea" ></textarea>	
									</div>
								</li>
								<li data-content="my-code-editor">
									<div id='loading-spinner'   class="spinner">
                                        <div class="dot dot1"></div>
                                        <div class="dot dot2"></div>
                                        
                                    </div>
                                    
                                        <div id="code_result">
                                            <span id="close_result" style="padding-bottom:30px; color:white; font-weight:bolder;">
                                                close<i class="fa fa-times" >
                                            </i> </span>
                                            <div id="exec_result"></div>
                                        </div>
  
										<div class='editor-body'> 

												<select id="select-language" selected='scratch' >
														<option value="scratch">BlackBoard</option>
														<option value="javascript">JavaScript</option>
														<option value="python">Python</option>
														<option value="php">PHP</option>
														<option value="python">HTML</option>
													</select>
													<select id="select-themes">
														  <option value="erlang-dark">Erlang Dark</option>
														  <option value="icecoder">IceCoder</option>
														  <option value="rubyblue">RubyBlue</option>
														  <option value="darcula">Darcula</option>
														  <option selected='selected' value="blackboard">BlackBoard</option>
													  </select>
													<textarea class="codemirror-textarea"></textarea>
													<div class="editor-buttons">	
															<button id='run-button' class='run-btn btn btn-warning'><i  class="fa fa-play"></i>Run</button>	
															<button id='save-button' class='btn btn-primary'><i class="fa fa-save"></i>Save</button>
															<button id='pull-code' class='btn btn-danger'><i class="fa fa-github"></i>Pull Code</button>
													</div>
								
												</div>
						
								</li>
								<li data-content="slides">
										<iframe id='slide-frame' src="https://slides.com/abhiyantimilsina/hello-welcome/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					
								</li>
								<li data-content="files"> 
      
								</li>
							</ul> 
						</div> 
					
			</div>
		</article>
		<section class="video-section">

                    <table id="rooms-list" class="visible"></table>                    
                
			<div id="video-container">
			</div>
		</section>
		<section class="chat">
			<div id="chat-container">
				<div id="message-container">
					<p class="chat-message">...The chat started here</p>
				</div>

				<div id="chat-pannel">
						<div class="page">
                        	<div id="chat-container">
									{% include "seminar/macros/chat.html" %}						
							</div>
						</div>
				</div>
			</div>
		</section>
		<section class="extra">
			<div id="utility">

			</div>
		</section>
	</section>

{% endblock %}

{% block script %}
<script>
$('#host_code_editor').hide();
var ckeditor = CKEDITOR.replace( 'editor' );
ckeditor.config.readOnly = true;
</script>
{% endblock %}

