{% extends "seminar/base.html" %}
{% load static %}

{% block css %}
<script>
        if(!location.hash.replace('#', '').length) {
				location.href = location.href.split('#')[0] + '#' + (Math.random() * 100).toString().replace('.', '');
		}
		loggedInUser = 'host'
     
        
</script>
  
<link rel="stylesheet" href="{% static "/seminar/css/dashboard-host.css" %}">
{% endblock %}
{% block content %}
    <section class="container">
        <article class="editor">
            <div id="edit-zone">
                    <div class="cd-tabs js-cd-tabs">
                            <nav>
                                <ul class="cd-tabs__navigation js-cd-navigation">
                                    <li class="tab_size"><a data-content="host-code-editor" class="cd-selected" href="#0"> <i class="fa fa-code"></i>Editors</a></li>
                                    <li class="tab_size"><a data-content="slides" href="#0"><i class="fa fa-slideshare"></i>Slides</a></li>
                                    <li class="tab_size"><a data-content="files" href="#0"><i class="fa fa-file"></i> Assets</a></li>
                                </ul> 
                            </nav>
                    
                            <ul class="cd-tabs__content js-cd-content">
                                <li data-content="host-code-editor" class="cd-selected">
                                        <label class="switch"><input type="checkbox" id="togBtn"><div class="slider round"><!--ADDED HTML --><span class="on" style='position: relative; right:1px; font-weight: bolder;'>Code<i class="fa fa-code" style='position: relative; left:1px; font-weight: bolder;'></i></span><span class="off">Text<i class="fa fa-file"></i></span><!--END--></div></label>
                          
                                    <textarea id="text_editor" style="width:702px;" name="editor1"></textarea>
                                    <div class='editor-body' id='code_editor'> 
                                            <div class="editor-buttons" style="position: relative; bottom: 50px;">	
                                                    <button id='run-button' class='run-btn btn btn-warning'><i  class="fa fa-play"></i>Run</button>	
                                                    <button id='save-button' class='btn btn-primary'><i class="fa fa-save"></i>Save</button>
                                                    <select id="select-language" class="sel-light" selected='scratch' >
                                                            <option value="javascript">JavaScript</option>
                                                            <option value="python">Python</option>
                                                            <option value="php">PHP</option>
                                                            <option value="python">HTML</option>
                                                        </select>
                                                        <select id="select-themes" class="sel-light">
                                                              <option value="erlang-dark">Erlang Dark</option>
                                                              <option value="icecoder">IceCoder</option>
                                                              <option selected='selected' value="rubyblue">RubyBlue</option>
                                                              <option value="darcula">Darcula</option>
                                                              <option  value="blackboard">BlackBoard</option>
                                                          </select>
                                                </div>
                                            <textarea class="codemirror-textarea"></textarea>
                                    </div>
                                </li>
                                
                                <li data-content="slides">
                                        <iframe id='slide-frame' src="https://slides.com/abhiyantimilsina/hello-welcome/embed" width="576" height="420" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </li>
                                 <li data-content="files">
                                    
                                </li>
                            </ul> 
                        </div
            </div>
        </article>
        <section class="video-section">
                <table id='host'  class="visible">
                        <tr>
                            <td style="text-align: right;">
                                <input type="text" id="conference-name" placeholder="Broadcast Name">
                            </td>
                            <td>
                                <button id="start-conferencing">New Broadcast</button>
                            </td>
                        </tr>
                    </table>
                    <!-- <table id="rooms-list" class="visible"></table> -->                    
                    <!-- <div id="participants"> 
                                
                    </div>
        
                    <div id="self-video">
        
                    </div> -->
            <div id="video-container">


            </div>
            </div>
        </section>
        <section class="chat">
            <div class="page">
            <div id="chat-container">
                    {% include "seminar/macros/chat.html" %}
            </div>
            </div>
        </div>
        </section>
    </section>
    {% endblock %}

{% block script %}
<script>
       requestURL = location.href;
        $.post(requestURL, {
            'url': location.href
        },(data)=>{
            console.log(data);
        });
        

    $('#code_editor').hide();
    $('#togBtn').click(()=>{
        $('#cke_text_editor').fadeToggle(0,'swing',()=>{
            $('#code_editor').fadeToggle(0,'swing');
        broadcastMessage({'type':'board','user_type': 'host',
                    'content' : '',
                    'cursor_position' : '',
                    'content_type' : 'text',
                    'board_state' : '',
                    'toggle' : 'dirty'
        })
        });
    });    
    var loggedInUser = 'host';
    var ckeditor = CKEDITOR.replace( 'editor1' );
    ckeditor.on('change', function(event) {
    currentData = event.editor.getData();
    dataToBroadcast = {
        'user_type' : 'host',
        'type' : 'board',
        'content_type' : 'text',
        'content' : currentData
    }
    broadcastMessage(dataToBroadcast); 
    });
</script> 

{% endblock %}

