<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blip- landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/landing.css">
</head>
<body>
    <main id="raw">
        <article class="col">
            <header>
                <ul class="nav">
                    <li class="logo">BLIP</li>
                    <li class="navbar">
                        <ul>
                            <li>Sign Up</li>
                            <li>Login</li>
                        </ul>
                    </li>
                </ul>
            </header>
        </article>
        <section class="col"></section>
    </main>
</body>
</html>