<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/profile.css">
</head>

<body>
    <header>
        <ul class="nav">
            <li class="logo"><a href="#">BLIP</a></li>
            <li class="navbar">
                <ul>
                    <li class="btn"><a href="#">Home</a></li>
                    <li class="btn"><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <section class="container">
        <div class="jumbotron">
            <div class="img-holder">
                <img class="responsive-img" src="../static/images/profile.svg">
            </div>
            <div class="content">
                <h2>User Name</h2>
                <p><em>Joined 2 months ago</em></p>
                <p id="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea labore non, tempora nulla quam magni nam mollitia cum vitae blanditiis in suscipit hic quis earum totam. Saepe a eveniet minima.</p>
            </div>
        </div>
        <div class="fold">
            <div class="folder1">
                <div class="card">
                    <div class="card-header">
                        <img class="responsive-img"
                        src="../static/images/icons8-user-male.svg" alt="avatar">
                    </div>
                    <div class="card-body animate">
                        <p>Email: someone@example.com</p>
                        <p>FullName: Someone some</p>
                        <p>Gender: somthing</p>
                    </div>
                </div>
            </div>
            <div class="folder2">
                <div class="events animate">
                    <ul class="details">
                        <li>Upcoming events<span> 3</span></li>
                        <li>Events attended<span> 5</span></li>
                        <li>Events created<span> 14</span></li>
                    </ul>
                </div>
                <div class="btn-holder">
                        <div class="btn-plus"><a href="#">Update Profile</a></div>
                        <div class="btn-plus"><a href="#">Create Event</a></div>
                </div>
            </div>
            
        </div>
    </section>
</body>

</html>
