{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/forms/Nav.css' %}">
    <link rel="stylesheet" type="text/css" href=" {% static 'css/forms/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>
<style>
        .head-size {
            font-size: 1.5em;
            font-weight: bold;
            padding: 0.8em;
            box-shadow: 1px 1px 1px 1px blue;
            background: #1488CC;
            color:#fff;
        }
</style>
<body>
    <header>
        <ul class="nav">
            <li class="logo"><a href="#">BLIP</a></li>
            <li class="navbar">
                <ul>
                    <li class="nav-btn"><a href="{% url 'blip-home' %}">Home</a></li>
                    <li class="nav-btn"><a href="{% url 'register' %}">Sign Up</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <section class="block">
        <div class="row">

            <h3 class="head-size">Login</h3>  
            <form class="col s12" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="row">
                    <div class="col s3">
                            <button type="submit" class="waves-effect waves-light btn">Login</button>
                    </div>
                </div>
            </form>
            Need an account? <a href="{% url 'register' %}">Sign up Now</a>
        </div>
    </section>
    <small>
        
    </small>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
{% endblock content %}